<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jz">

    <queries>
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Jz">
        <activity
            android:name=".activity.LicaiActivity"
            android:exported="false" />
        <activity
            android:name=".activity.WmActivity"
            android:exported="false" />
        <activity
            android:name=".activity.UpdateMyActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MyActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ShouZhiGuanLiActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AddDataActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ShowYeActivity"
            android:exported="false" />
        <activity
            android:name=".activity.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".activity.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>